<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalLot"
        tools:targetApi="31">
        <activity
            android:name=".activity.EditWalletMenu"
            android:exported="false"
            android:theme="@style/Theme.WalLot" />
        <activity
            android:name=".activity.AddWalletMenu"
            android:exported="false"
            android:theme="@style/Theme.WalLot" />
        <activity
            android:name=".overlay.AddFriendOverlay"
            android:exported="false" />
        <activity
            android:name=".activity.EditDebtMenu"
            android:exported="false" />
        <activity
            android:name=".activity.EditTransactionMenu"
            android:exported="false" />
        <activity
            android:name=".activity.TransactionMenu"
            android:exported="false" />
        <activity
            android:name=".activity.WalletDetail"
            android:exported="false" />
        <activity
            android:name=".activity.DebtMenu"
            android:exported="false" />
        <activity
            android:name=".fragment.main_activity.HomeMenu"
            android:exported="false" />
        <activity
            android:name=".overlay.Transaction"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Signup"
            android:exported="true">
        </activity>
    </application>

</manifest>